html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}


a {
    text-decoration: none; 
    color: black;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    cursor: pointer;
}

a:hover:not() {
    background-size: 100% 2px;
}

.shopping-cart {
    display: flex;
    justify-content: flex-end;
}

/* ABOUT OUR COMPANY */

.wrapper {
    width: 85%;
    margin: 0 auto;

}

h1 {
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.08em;
    margin-bottom: 100px;
}

h2 {
    margin-top: 90px;
    margin-bottom: 0;
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.08em;  
}

.about_company{
    width: 100%;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 50%;
    height: 660px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-right: 90px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txt-container {
    width: 40%;
    height: auto; 
}

p {
    margin: 0;
    font-family: 'Inter';
    font-size: 25px;
}

/* PARTNERS */

.partners {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap ;
}

.partner-container {
    width: 22%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-container img {
    width: 100%;
    /* height: auto; */
}


/* TEAM */

.team {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.person_block {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.person-img-container {
    width: 380px;
    height: 380px;
}

.person-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.person_block p {
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-weight: 400px;
}


@media (max-width: 1808px) {
    .about_company {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .img-container {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .img-container img {
        width: 100%;
        margin-bottom: 40px;
    }
    .person_block {
        width: 500px;
        height: auto;
    }
    .team {
        flex-wrap: wrap;
    }
    .txt-container {
        width: 100%;
        height: auto;
    }
}
@media(max-width: 1350px) {
    .partner-container {
        width: 40%;
    }
}
@media(max-width: 1194px) {
    .person_block {
        margin-bottom: 40px;
    }
}
@media(max-width: 850px) {
    .wrapper {
        width: 95%;
    }
    h2 {
        margin-bottom: 50px;
    }
    .partner-container {
        width: 100%;
        height: auto;
    }
    .partner-container img {
        margin-bottom: 20px;
    }
    .hoff {
        margin-top: 60px;
    }
}
@media(max-width: 455px) {
    h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
}
@media(max-width: 440px) {
    .wrapper {
        width: 100%;
    }
    h2 {
        width: 80%;
        margin: 40px auto;
        margin-top: 70px;
        font-size: 40px;
    }
}
@media(max-width: 400px) {
    .img-container {
        margin: 0 10px;
    }
    .txt-container {
        margin: 0 10px;
    }
    .partners {
        margin-bottom: 85px;
    }
    .partner-container {
        width: 80%;
        margin: 0 auto;
    }
    .team {
        width: 90%;
        margin: 0 auto;
    }
    .person-block {
        width: 450px;
    }
    .person-img-container {
        width: 350px;
        height: 350px;
    }
}
