html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}


a {
    text-decoration: none; 
    color: black;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    cursor: pointer;
}

a:hover:not(.img-container a, .logo-container a, .shopping-cart a, .inShoppingCart, .myLinks a) {
    background-size: 100% 2px;
}

.shopping-cart {
    display: flex;
    justify-content: flex-end;
}

/* ABOUT OUR COMPANY */

.wrapper {
    width: 85%;
    margin: 0 auto;

}

h1 {
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.08em;
    margin-bottom: 100px;
}

h2 {
    margin-top: 90px;
    margin-bottom: 0;
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.08em;  
}

.about_company{
    width: 100%;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 50%;
    height: 660px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-right: 90px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txt-container {
    width: 40%;
    height: auto; 
}

p {
    margin: 0;
    font-family: 'Inter';
    font-size: 25px;
}

/* PARTNERS */

.partners {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap ;
}

.partner-container {
    width: 22%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-container img {
    width: 100%;
    /* height: auto; */
}


/* TEAM */

.team {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.person_block {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.person-img-container {
    width: 380px;
    height: 380px;
}

.person-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.person_block p {
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-weight: 400px;
}

/* Footer */

footer {
    width: 100%;
    height: 164px;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.soc-img {
    width: 310px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
    margin-left: 24px;
}
.soc-img img { 
    width: 50px;
    height: 50px;
    margin-right: 33px;
    transition: all .2s;
}
.soc-img img:hover { 
    transform: scale(1.05);
}
.footer-info {
    width: 800px;
    display: flex;
    justify-content: space-evenly;
}
.footer-header {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}
.part {
    width: 238px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.part ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.part ul li {
    width: 100%;
    font-size: 14px;
    text-align: left;
    line-height: 19px;
}
.sales {
    margin-left: 0;
}
.sales .footer-header {
    margin-top: 30px;
}
.sales ul {
    margin-bottom: 30px;
}
.offer {
    margin-left: 60px
}
.offers .footer-header {
    margin-top: 30px;
}
.offers ul {
    margin-bottom: 40px;
}
.advantages {
    margin-left: -60px;
}
.advantages .footer-header {
    width: 100%;
    white-space: nowrap;
    margin-top: 30px;
}
.advantages ul {
    margin-bottom: 40px;
}
.form {
    width: 250px;
    margin-left: -30px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.sub-heading {
    width: 100%;
}
.sub-heading p {
    white-space: nowrap;
    margin: 0;
    margin-bottom: -15px;
}
input {
    width: 100%;
    height: 25px;
    border: 1px solid #8a8a8a;
}
input::placeholder {
    color: lightgray;
}
.button {
    width: 160px;
    height: 33px;
    margin: 0;
    margin-top: -25px;
    background: #FFFFFF;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.button a {
    width: 100%;
    /* height: 100%; */
    letter-spacing: 0;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    /* line-height: 23px; */
    transition: ease all .3s;
    color: #000000;
    justify-content: center;
}
.button:hover {
    border: 1px solid white;
    background-color: black;
}
.button a:hover {
    color: white;
}
.contacts {
    height: 90px;
    margin-left: 70px;
    margin-top: 80px;

}
.contacts p {
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    margin: 0;
    color: #FFFFFF;
}



@media (max-width: 1808px) {
    .about_company {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .img-container {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .img-container img {
        width: 100%;
        margin-bottom: 40px;
    }

    .person_block {
        width: 500px;
        height: auto;
    }

    .team {
        flex-wrap: wrap;
    }

    .txt-container {
        width: 100%;
        height: auto;
    }

    .contacts {
        display: none;
    }

    .form {
        justify-content: flex-end;
    }

    .sales {
        width: 170px;
    }

    .offers {
        width: 170px;
    }

    .sub-heading {
        width: 600px;

    }

    .sub-heading p {
        font-size: 20px;
    }

    .soc-img {
        width: 120px;
    }
}


@media(max-width: 1541px) {

}

@media(max-width: 1400px) {

}
@media(max-width: 1350px) {
    .partner-container {
        width: 40%;
    }
}
@media(max-width: 1270px) {
    .advantages{
        display: none;
    }
}
@media(max-width: 1225px) {
    .sales{
        display: none;
    }
}
@media(max-width: 1194px) {
    .person_block {
        margin-bottom: 40px;
    }
}
@media(max-width: 850px) {
    .wrapper {
        width: 95%;
    }
    h2 {
        margin-bottom: 50px;
    }
    .partner-container {
        width: 100%;
        height: auto;
    }
    .partner-container img {
        margin-bottom: 20px;
    }
    .hoff {
        margin-top: 60px;
    }
}
@media(max-width: 756px) {
    .offers{
        display: none;
    }

}
@media(max-width: 455px) {
    h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }
}
@media(max-width: 440px) {
    .wrapper {
        width: 100%;
    }
    h2 {
        width: 80%;
        margin: 40px auto;
        margin-top: 70px;
        font-size: 40px;
    }
}
@media(max-width: 400px) {
    .img-container {
        margin: 0 10px;
    }
    .txt-container {
        margin: 0 10px;
    }
    .partners {
        margin: 0 10px;
        margin-bottom: 85px;
    }
    .team {
        width: 90%;
        margin: 0 auto;
    }
    .person-block {
        width: 450px;
    }
    .person-img-container {
        width: 350px;
        height: 350px;
    }
    .soc-img {
        width: 50%;
        height: 40%;
    }
    .soc-img img {   
        height: 40px; 
    }
    .footer-info {
        height: 85%;
    }
}
