html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    width: 100%;
    height: 136px;
    background-color: #FDFCFA;
    display: flex;
    /* position: sticky;
    top: 0px; */
}

ul {
    width: 100%;
    display: flex;
    margin: 51px auto;
    padding: 0;
}

li {
    width: 100%;
    justify-content: space-evenly;
    font-family: 'Inter';
    font-size: 28px;
    list-style: none;
    text-align: center;
}

a {
    text-decoration: none; 
    color: black;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    cursor: pointer;
}

a:hover:not(.img-container a, .logo-container a, .shopping-cart a, .inShoppingCart) {
    background-size: 100% 2px;
}

.shopping-cart {
    display: flex;
    justify-content: flex-end;
}

/* ABOUT OUR COMPANY */

.wrapper {
    width: 85%;
    margin: 0 auto;

}

h1 {
    width: 100%;
    justify-content: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.08em;
}

.about_company{
    display: flex;   
}

.img-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 90px;
}

.img-container img {
    width: 740px;
}

.txt-container {
    width: 100%;
    height: 520px; 
}

p {
    /* width: 917px; */
    height: 20%;
    margin-top: 0;
    font-family: 'Inter';
    font-size: 25px;
}

/* PARTNERS */

.partners {
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:wrap ;
}

.classen {
    width: 415px;
    height: 123px;
}

.abc {
    width: 502px;
    height: auto; 
}

.electrolux {
    width: 379px;
    height: 87px;
}

.hoff {
    width: 207px;
    height: 121px;
}

/* TEAM */

.team {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.person_block {
    width: 404px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.person_block img {
    width: 325px;
    height: 307px;
    border-radius: 250px;
}

.person_block p {
    width: 100%;
    text-align: center;
    line-height:50px;
    font-weight: 400px;
}

.tsurka{
    object-fit: cover;
}

/* Footer */

footer {
    width: 100%;
    height: 164px;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.soc-img {
    width: 310px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
    margin-left: 24px;
}
.soc-img img { 
    width: 50px;
    height: 50px;
    margin-right: 33px;
}
.footer-info {
    width: 800px;
    display: flex;
    justify-content: space-evenly;
}
.footer-header {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}
.part {
    width: 238px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.part ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.part ul li {
    width: 100%;
    font-size: 14px;
    text-align: left;
    line-height: 19px;
}
.sales {
    margin-left: 0;
}
.sales .footer-header {
    margin-top: 30px;
}
.sales ul {
    margin-bottom: 30px;
}
.offer {
    margin-left: 60px
}
.offers .footer-header {
    margin-top: 30px;
}
.offers ul {
    margin-bottom: 40px;
}
.advantages {
    margin-left: -60px;
}
.advantages .footer-header {
    width: 100%;
    white-space: nowrap;
    margin-top: 30px;
}
.advantages ul {
    margin-bottom: 40px;
}
.form {
    width: 250px;
    margin-left: -30px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.sub-heading {
    width: 100%;
}
.sub-heading p {
    white-space: nowrap;
    margin: 0;
    margin-bottom: -15px;
}
input {
    width: 100%;
    height: 25px;
    border: 1px solid #8a8a8a;
}
input::placeholder {
    color: lightgray;
}
.button {
    width: 160px;
    height: 33px;
    margin: 0;
    margin-top: -25px;
    background: #FFFFFF;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}
.button a {
    width: 100%;
    height: 100%;
    letter-spacing: 0;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    transition: ease all .3s;
    color: #000000;
}
.button a:hover {
    color: white;
    background-color: black;
}
.contacts {
    height: 90px;
    margin-left: 70px;
    margin-top: 50px;
}
.contacts p {
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    margin: 0;
    color: #FFFFFF;
}



@media (max-width: 1808px) and (min-width: 1px) {
    .about_company {
        flex-direction: column;
        justify-content: center;
    }

    .img-container {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .img-container img {
        height: 100%;
        width: 100%;
    }

    .txt-container {
        height: auto;
    }

    .person_block img {
        height: 50%;
        width: 60%;
    }


    .advantages{
        display: none;
    }
    
    .contacts {
        display: none;
    }

    .form {
        justify-content: flex-end;
    }

    .sales {
        width: 170px;
    }

    .offers {
        width: 170px;
    }

    .sub-heading {
        width: 600px;

    }

    .sub-heading p {
        font-size: 20px;
    }

    .soc-img {
        height: 80px;
        width: 120px;
    }
}

@media(max-width: 400px){
    
    h1 {
        font-size: 55px;
    }

    .soc-img {
        width: 50%;
        height: 40%;
    }

    .soc-img img {   
        height: 40px; 
    }

    .footer-info {
        height: 85%;
    }

    .classen {
        width: 350px;
        height: 123px;
    }
    
    .abc {
        width: 450px;
        height: auto; 
    }
    
    .electrolux {
        width: 379px;
        height: 87px;
        margin-bottom: 30px;
    }
    
    .hoff {
        width: 207px;
        height: 121px;
    }

}
