html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter';
    margin: 0;
}

a {
    text-decoration: none; 
    color: black;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover:not(.logo-container a, .shopping-cart a, .button a, .myLinks a) {
    background-size: 100% 2px;
}


/* main */

.wrapper {
    width: 83%;
    margin: 54px auto;
    display: flex;
}
iframe {
    margin-right: 50px;
}
.text {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
}