html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter';
    margin: 0;
}

header {
    width: 100%;
    height: 136px;
    background-color: #FDFCFA;
    display: flex;
}

ul {
    width: 100%;
    display: flex;
    margin: 51px auto;
    padding: 0;
}

li {
    width: 100%;
    justify-content: space-evenly;
    font-size: 28px;
    list-style: none;
    text-align: center;
}

a {
    text-decoration: none; 
    color: black;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover:not(.logo-container a, .shopping-cart a, .button a) {
    background-size: 100% 2px;
}

.shopping-cart {
    display: flex;
    justify-content: flex-end;
}

/* main */
.wrapper {
    width: 75%;
    margin: 0 auto;
    display: flex;
}
iframe {
    margin: 100px;
    border-radius: 4%;
}
.text {
    font-size: 2em;
    font-weight: bold;
    margin: 100px;
}
