html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

header {
    width: 100%;
    height: 136px;
    background-color: #FDFCF0;
    display: flex;
    /* position: sticky;
    top: 0px; */
}

.topnav {
    display: none;
} 

ul {
    width: 100%;
    display: flex;
    margin: 51px auto;
    padding: 0;
}

li {
    width: 100%;
    justify-content: space-evenly;
    font-family: 'Inter';
    font-size: 28px;
    list-style: none;
    text-align: center;
}

a {
    text-decoration: none; 
    color: black;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    cursor: pointer;
}

a:hover:not(.img-container a, .logo-container a, .shopping-cart a, .inShoppingCart, .button a, .topnav a) {
    background-size: 100% 2px;
}

.shopping-cart {
    display: flex;
    justify-content: flex-end;
}

/* main */

.wrapper {
    width: 85%;
    margin: 0 auto;
    transition: all .3s;
}

.menu {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 120px;
}

.type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img-container {
    width: 100%;
    height: 195px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img {
    transition: ease all 0.2s;
}

.type a {
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.135em;
}

.img1 {
    width: 285px;
    height: 149px;
    margin-top: 15px;
}

.img2 {
    width: 259px;
    height: 184px;
}

.img3 {
    width: 223px;
    height: 191px;
    margin-top: -10px;
}

.img4 {
    width: 200px;
    height: 153px;
    margin-top: 10px;
}

.img-container img:hover {
    transform: scale(1.1);
}

.separating-bar {
    width: 100%;
    height: 13px;
    background-color: #dbdbdb;
}

.category-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-size: 66px;
    line-height: 77px;
    text-align: center;
    letter-spacing: 0.055em;
}

h2 {
    width: 100%;
    background-color: white;
    position: sticky;
    z-index: 100!important;
    /* top: 136px; */
    top: 0;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 66px;
    text-align: center;
    letter-spacing: 0.055em;
    transition: ease all 0.6s;
}

.all-objects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: all .3s;
}

.particular-object {
    width: 400px;
    min-width: 400px;
    max-height: 400px;
    opacity: 1;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: ease all 0.3s;
}

.discount-circle {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #E63333;
    position: absolute;
    margin: -35px 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.discount-circle p {
    font-style: bold;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
}

.objects-column {
    width: calc(100% / 3);
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    transition: all .3s;
}

.particular-object:hover {
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
}

.prices {
    display: flex;
    margin: 0 auto;
    width: 40%;
    margin-bottom: -7px;
}

.prices p {
    margin: 0;
    padding: 0;
}

.old-price {
    text-decoration-line: line-through;
    margin: 0;
}

.prices p b {
    font-style: normal;
    color: #E63333;
}

.particular-object img {
    width: 400px;
    height: 300px;
    transition: ease all 0.5s;
}

.particular-object p:not(.discount-circle1 p) {
    font-family: 'Inter';
    font-style: italic;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.135em;
    margin: 0;
    margin: 7px auto;
}

.particular-object p b {
    font-size: 28px;
}

.particular-object:hover > img {
    transform: scale(1.05);
}

.shopping-cart-container {
    height: 0;
    opacity: 0;
}

.inShoppingCart {
    margin-bottom: 125px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 50%;
    height: 42px;
    font-family: 'Inter';
    font-size: 22px;
    background-color: rgba(255, 199, 0, 0.33);
    border-radius: 5px;
    border: 0px solid rgb(211, 194, 161);
    box-shadow: 0 0 10px 1px rgb(219, 206, 168);
    transition: ease all .3s;
}

.inShoppingCart:hover {
    background-color: rgb(255, 168, 86);
    /* box-shadow: 0 0 35px 1px rgb(153, 141, 108); */
}

.alert {
    background-color: lightgreen;
    height: 50px;
    font-family: 'Inter';
    font-size: 32px;
    font-style: italic;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 15px;
    /* left: 20px;
    right: 20px; */
    left: 0px;
    right: 0px;
    transform: translateY(-70%);
    opacity: 0;
    z-index: 999999;
    transition: ease all 0.5s;
    transition-timing-function: cubic-bezier(.46,-0.71,.47,.79);
}

.particular-object.active {
    max-height: 470px;
    /* margin-bottom: 71px; */
    transition: ease all 0.1s;
}

.alert.active {
    transform: translateY(0%);
    opacity: 1;
}

.shopping-cart-container.active {
    display: unset;
    opacity: 1;
    transform: translateY(0);
    transition: ease-in 0.1s;
}
footer {
    width: 100%;
    height: 164px;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.soc-img {
    width: 310px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 24px;
    margin-left: 24px;
}
.soc-img img { 
    width: 50px;
    height: 50px;
    margin-right: 33px;
}
.footer-info {
    width: 800px;
    display: flex;
    justify-content: space-evenly;
}
.footer-header {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}
.part {
    width: 238px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.part ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.part ul li {
    width: 100%;
    font-size: 14px;
    text-align: left;
    line-height: 19px;
}
.sales {
    margin-left: 0;
}
.sales .footer-header {
    margin-top: 30px;
}
.sales ul {
    margin-bottom: 30px;
}
.offer {
    margin-left: 60px
}
.offers .footer-header {
    margin-top: 30px;
}
.offers ul {
    margin-bottom: 40px;
}
.advantages {
    margin-left: -60px;
}
.advantages .footer-header {
    width: 100%;
    white-space: nowrap;
    margin-top: 30px;
}
.advantages ul {
    margin-bottom: 40px;
}
.form {
    width: 250px;
    margin-left: -30px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.sub-heading {
    width: 100%;
}
.sub-heading p {
    white-space: nowrap;
    margin: 0;
    margin-bottom: -15px;
}
input {
    width: 100%;
    height: 25px;
    border: 1px solid #8a8a8a;
}
input::placeholder {
    color: lightgray;
}
.button {
    width: 160px;
    height: 33px;
    margin: 0;
    margin-top: -25px;
    background: #FFFFFF;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.button a {
    width: 100%;
    /* height: 100%; */
    letter-spacing: 0;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    /* line-height: 23px; */
    transition: ease all .3s;
    color: #000000;
    justify-content: center;
}
.button:hover {
    border: 1px solid white;
    background-color: black;
}
.button a:hover {
    color: white;
}
.contacts {
    height: 90px;
    margin-left: 70px;
    margin-top: 50px;

}
.contacts p {
    width: 100%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    margin: 0;
    color: #FFFFFF;
}



/* MEDIA */


@media (max-width: 1793px) {
    .wrapper {
        width: 100%;
    }
}

@media (max-width: 1473px) {
    .menu {
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .type {
        width: calc(100% / 2);
        margin: 20px auto;
    }
}

@media (max-width: 1360px) {
    .objects-column {
        margin: 0 24px;
    }
}

@media (max-width: 1250px) {
    header ul {
        display: none;
    }
    .shopping-cart {
        display: none;
    }
    
    .burger-container {
        z-index: 9999999;
        position: absolute;
        right: 20px;
        top: calc(136px / 3);
        cursor: pointer;
        transition: all .4s;
        transform: translateX(300%);
    }
    .activate {
        transform: translateX(0%);
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .topnav {
        width: 100%;
        height: auto;
        position: absolute;
        top: 116px;
        left: 0;
        right: 0;
    }
    .myLinks a {
        width: 100%;
        height: 50px;
        background-color: rgb(231, 231, 231);
        border-bottom: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        transition: all .2s;
        z-index: 99;
    }
    .myLinks a:hover {
        background-color: rgb(216, 216, 216);
        font-size: 26px;
    }

    .hide {
        display: none;
    }
}

@media (max-width: 975px) {
    .objects-column {
        width: 100%;
    }
}

@media (max-width: 724px) {
    .type {
        width: 100%;
    }
}