html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 136px;
    background-color: #F8F7EC;
    z-index: 9999;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
    display: flex;
    transition: all 0.4s;
    transition-timing-function: cubic-bezier(.81,.03,.47,.79);
    /* position: sticky;
    top: 0px; */
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all .3s;
}

.topnav {
    display: none;
} 

ul {
    width: 100%;
    display: flex;
    margin: 51px auto;
    padding: 0;
    transition: all .2s;
}

li {
    width: 100%;
    justify-content: space-evenly;
    font-family: 'Inter';
    font-size: 28px;
    list-style: none;
    text-align: center;
}

a {
    text-decoration: none; 
    color: black;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    cursor: pointer;
}

header ul li a:hover {
    background-size: 100% 2px;
}

.shopping-cart {
    display: flex;
    justify-content: flex-end;
    transition: all .2s;
}

@media (max-width: 1250px) {
    
    .burger-container {
        z-index: 1;
        position: absolute;
        right: 20px;
        top: calc(136px / 3);
        cursor: pointer;
        transition: all .4s;
    }
    .activate {
        transform: translateX(0%);
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .topnav {
        width: 100%;
        height: auto;
        overflow: hidden;
        position: absolute;
        top: 116px;
        left: 0;
        right: 0;
        transition: all .4s;
        transition-timing-function: cubic-bezier(.81,.03,.47,.79);
        transform: translateY(-50%);
        opacity: 0;
        z-index: 1;
    }
    .myLinks a {
        width: 100%;
        height: 50px;
        /* background-color: rgb(231, 231, 231); */
        background-color: #F8F7EC;
        border-bottom: 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        transition: all .4s;
        z-index: 99;
    }
    .myLinks a:hover {
        transition: all .2s;
        /* background-color: rgb(216, 216, 216); */
        background-color: #fffac1;
        font-size: 26px;
    }

    .hide {
        display: none;
    }
}
@media(max-width: 650px) {
    .logo-container a img {
        width: 270px;
    }
}
@media(max-width: 450px) {
    .logo-container a img {
        width: 220px;
    }
}