html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
main {
    max-height: 647px;
    overflow: hidden;
}
.sale-img-container {
    overflow: hidden;
}
.sale-img {
    height: auto;
}
.sales-container {
    width: 50%;
    position: absolute;
    top: 170px;
    left: 130px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.sale-motto {
    margin: 0;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 96px;
    text-align: center;
    line-height: 100px;
    letter-spacing: 0.075em;
    color: #FFFFFF;
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.sales-container span {
    margin: 0;
    height: 20px;
    font-family: 'Timmana', sans-serif;
    font-weight: 400;
    font-size: 96px;
    text-align: center;
    color: #FF3636;
}
.sale-describe {
    margin: 0;
    margin-top: 45px;
    font-family: 'Timmana', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 90px;
    font-size: 66px;
    text-align: center;
}
.sale-btn-container {
    width: 511px;
    height: 100px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    background: #F4D4AA;
    border-radius: 25px;
    transition: all .3s;
}
.sale-btn-container:hover {
    transform: scale(1.02) translateY(-10%);
}
.sale-btn-container a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
}


/* MEDIA */

@media (min-width: 768px) {}