html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #FDFCF0;
}

a {
    text-decoration: none; 
    color: black;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
a:hover:not(.logo-container a, .button a, .shine-button, .myLinks a) {
    background-size: 100% 2px;
}

main {
    width: 100%;
    height: auto;
    background-color: #FDFCF0;
}

.advatages {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.advantage {
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h3 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    margin-left: 30px;
}

.first-img {
    width: 130px;
    height: 100px;
}

.second-img {
    width: 150px;
    height: 105px;
}

.third-img {
    width: 140px;
    height: 140px;
}

.fourth-img {
    width: 120px;
    height: 120px;
}


/* SLIDER */

/* код с интернета (проверки не требует)*/
.itcss {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
  /* стили для wrapper */
.itcss__wrapper {
    position: relative;
    overflow: hidden;
    background-color: #eee;
}

/* стили для элемента, в котором непосредственно расположены элементы (слайды) */
.itcss__items {
    display: flex;
    transition: transform 0.5s ease;
}
  
  /* класс для отключения transition */
.transition-none {
    transition: none;
}
  
  /* стили для элементов */
.itcss__item {
    background-color: white;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
}

  /* кнопки Prev и Next */
.itcss__control {
    z-index: 10;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 50px;
    transform: translateY(-50%);
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.5;
    user-select: none;
}
  
.itcss__control_show {
    display: flex;
}
  
.itcss__control:hover,
.itcss__control:focus {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}
  
.itcss__control_prev {
    left: 0;
}
  
.itcss__control_next {
    right: 0;
}
  
.itcss__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}
  
.itcss__control_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
  
.itcss__control_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
  
  /* Индикаторы */
.itcss__indicators {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0 15%;
    list-style: none;
    user-select: none;
}
  
.itcss__indicator {
    flex: 0 1 auto;
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: rgba(150, 150, 150, 0.5);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    cursor: pointer;
}
.itcss__indicator_active {
    background-color: rgb(218, 218, 218);
}
.itcss__item_2_img {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url(../Images/Other_images/main2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 606px;
    /* background-size: 1920px 606px;
    background-position: 100%; */
}
.itcss__item_3_img {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url(../Images/Other_images/main3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 606px;
}
.itcss__item_4_img {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url(../Images/Other_images/main4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 606px;
}
#btn1 {
    position: absolute;
    right: 970px;
    top: 435px;
    background: #F4D4AA;
}
#btn2 {
    margin-top: 15%;
    margin-right: 2%;
    background: #D2F0F2;
}
#btn3 {
    margin-top: 15%;
    margin-right: 13.5%;
    background: #EBC7C7;
}
#btn4 {
    margin-top: 16%;
    margin-right: 38%;
    background: #D5F7F4;
}
.shine-button {
    width: 511px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 8px 15px rgba(250, 135, 202, 0.1);
}
#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover {
    transform: translateY(-3px) scale(1.02);
}
#btn1, #btn2, #btn3, #btn4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    transition: .3s;
}

/* MEDIA */


@media (max-width: 1669px) {
    .shine-button {
        width: 400px;
        height: 75px;
        font-size: 40px;
    }
    #btn1 {
        width: 450px;
        top: 70%;
        left: 20%;
    }
    .itcss__item img {
        width: 100%;
        height: 100%;
    }
    .itcss__item_2_img {
        width: 100%;
        height: 100%;
        /* background-size: 1920px 606px;
        background-position: 100% 20%; */
        background-size: 100% 100%;
        background-position: auto;
    }
    .itcss__item_3_img {
        width: 100%;
        height: 100%;
        /* background-size: 1920px 606px;
        background-position: 100% 20%; */
        background-size: 100% 100%;
        background-position: auto;
    }
    .itcss__item_4_img {
        width: 100%;
        /* background-size: 1920px 606px;
        background-position: 10% 20%; */
        background-size: 100% 100%;
        background-position: auto;
    }
}
@media (max-width: 1655px) {
    .advantage {
        width: 47%;
    }
}
@media (max-width: 1520px) {
    #btn1 {
        top: 65%;
        left: 17%;
    }
}
@media (max-width: 1520px) {
    #btn1, #btn2, #btn3, #btn4 {
        width: 350px;
        height: 60px;
        font-size: 34px;
    }
    .shine-button {
        font-size: 30px;
    }
}
@media (max-width: 1230px) {
    #btn3 {
        width: 310px;
        margin-right: 12%;
    }
}
@media (max-width: 1200px) {
    #btn1 {
        height: 50px;
        left: 15%;
        top: 62%;
    }
    .shine-button {
        font-size: 26px;
    }
}
@media (max-width: 1000px) {
    .shine-button {
        font-size: 22px;
    }
    #btn1 {
        width: 250px;
        height: 45px;
        top: 61%;
    }
    #btn2 {
        width: 250px;
        margin-top: 21%;
        margin-right: 2%;
    }
    #btn3 {
        width: 250px;
        margin-top: 21%;
        margin-right: 12%;
    }
    #btn4 {
        width: 250px;
        margin-top: 21%;
        margin-right: 35%;
    }
}
@media (max-width: 865px) {
    .shine-button {
        font-size: 18px;
    }
    #btn1 {
        width: 220px;
        height: 35px;
        top: 58%;
    }
}
@media (max-width: 768px) {
    .itcss__item {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .itcss__item img {
        width: auto;
        height: 300px;
    }
    .shine-button {
        font-size: 34px;
    }
    #btn1 {
        width: 350px;
        height: 60px;
        top: 58%;
        left: 5%;
    }
    #btn2 {
        width: 330px;
        margin-top: 35%;
    }
    #btn3 {
        width: 330px;
        margin-top: 30%;
        margin-right: 11%;
    }
    #btn4 {
        width: 330px;
        margin-right: 22%;
        margin-top: 32%;
    }
    .itcss__item_2_img {
        width: 100%;
        height: 100%;
        background-size: 1000px 300px;
        background-position: 100% 100%;
    }
    .itcss__item_3_img {
        width: 100%;
        height: 100%;
        background-size: 1000px 300px;
        background-position: 100% 20%;

    }
    .itcss__item_4_img {
        width: 100%;
        background-size: 1000px 300px;
        background-position: 40% 20%;
    }
}
@media (max-width: 560px) {
    #btn4 {
        width: 330px;
        margin-right: 12%;
        margin-top: 42%;
    }
}
@media (max-width: 440px) {
    #btn2 {
        margin-right: 10%;
        margin-top: 40%;
    }
}
@media (max-width: 418px) {
    .advantage h3 {
        font-size: 30px
    }
    #btn4 {
        width: 330px;
        margin-right: 5%;
        margin-top: 50%;
    }
    #btn3 {
        width: 330px;
        margin-right: 9%;
        margin-top: 50%;
    }
}
@media (max-width: 398px) {
    .shine-button {
        font-size: 28px;
    }
    #btn1 {
        width: 290px;
        height: 60px;
        top: 48%;
        left: 12%;
    }
    #btn3 {
        margin-right: 5%;
    }
}